<!-- AUTHOR-BG STARTS -->
table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
	tr
		td(align="center")
			+IE-1({width: table_width ,aling: 'center', valing: 'top'})
			div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
				<!-- ID:BG AUTHOR-BG OPTIONAL BG -->
				table(align="center" bgcolor="#BCBBAF" border="0" class="display-width" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
					tr
						td(align="center" background=image_path+"img-700_04.jpg" style="width:100%; background-image:url("+image_path+"img-700_04.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
							<!--[if (gte mso 9)|(IE)]>
								<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: 700px; height: 236px; margin: auto;">
								<v:fill type="frame" src="images/img-700_04.jpg" color="#f6f8f7" />
								<v:textbox inset="0,0,0,0">
							<![endif]-->
							div(style="margin: auto;")
								table(align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%")
									tr
										td(align="center" style="padding-left: " + body_pading_l + "px; padding-right: " + body_pading_r + "px; font-size:0;")
											+IE-1({width: '461' ,aling: 'center', valing: 'top'})
											div(style="display: inline-block; width: 100%; max-width: 481px; vertical-align: top;")
												table(align="center" border="0" class="display-width-inner" cellpadding="0" cellspacing="0" width="100%" style="max-width: 481px;")
													tr
														+td-margin({height: '77'})
													tr
														td(align="center")
															+icon-text({img: 'autor-82_01.png', alt: 'Mark', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.'})
													tr
														+td-margin({height: '71'})
											|!{IE_TABLE_END}
							<!--[if (gte mso 9)|(IE)]></v:textbox> </v:rect> <![endif]-->
			|!{IE_TABLE_END}
<!-- AUTHOR-BG ENDS -->