<!-- CALL-TO-ACTIONS-PLAY  STARTS -->
table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
	tr
		td(align="center")
			+IE-1({width: table_width ,aling: 'center', valing: 'top'})
			div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
				<!-- ID:BG HEADER-1 OPTIONAL BG -->
				table(align="center" bgcolor="#BCBBAF" border="0" class="display-width" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
					tr
						td(align="center" background=image_path+"img-700_03.jpg" style="width:100%; background-image:url("+image_path+"img-700_03.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
							<!--[if (gte mso 9)|(IE)]>
								<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: 700px; height: 323px; margin: auto;">
								<v:fill type="frame" src="images/img-700_03.jpg" color="#f6f8f7" />
								<v:textbox inset="0,0,0,0">
							<![endif]-->
							div(style="margin: auto;")
								table(align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%")
									tr
										td(align="center" style="padding-left: " + body_pading_l + "px; padding-right: " + body_pading_r + "px; font-size:0;")
											+IE-1({width: body_width_1 ,aling: 'center', valing: 'top'})
											div(style="display: inline-block; width: 100%; max-width: " + body_width_1 + "px; vertical-align: top;")
												table(align="center" border="0" class="display-width-inner" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + body_width_1 + "px;")
													tr
														+td-margin({height: '61'})
													tr
														td(align="center" style="padding: 0 10px;")
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 100%;")
																tr
																	<!-- ID:TXT CALL-TO-ACTIONS-PLAY HEADING -->
																	td.h1(align="center") Street Style
																		br
																		|Today
																tr
																	+td-margin({margin: 'mr-40'})
																tr
																	<!-- ID:TXT CALL-TO-ACTIONS-PLAY BUTTON -->
																	td(align="center")
																		a(href="#" target="_blank")
																			img(src=image_path+"play-60.png" width="60" height="60" alt="" style="display: inline-block; width: 100%; max-width: 60px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")
													tr
														+td-margin({height: '62'})
											|!{IE_TABLE_END}
							<!--[if (gte mso 9)|(IE)]></v:textbox> </v:rect> <![endif]-->
			|!{IE_TABLE_END}
<!-- CALL-TO-ACTIONS-PLAY ENDS -->