/*
 * Grid
 *
 */

$container: 620px;
$mail-body: 588px;
$container-gutters: 16px;


/*
 * Fonts
 *
 */

$font-main: Arial, sans-serif;
$font-second: 'Open Sans', sans-serif;

/*
 * Color
 *
 */
 
$color-white: #ffffff; 
$color-black: #000000; 

$color-gray900: #161E2C;
$color-gray500: #3A3A3A;
$color-gray300: #585858;
$color-gray200: #898989;
$color-gray100: #F7F7F9;

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */