<!-- TITLE-VERTICAL COL-3 STARTS -->
table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
	tbody
		tr
			td(align="center")
				+IE-1({width: table_width ,aling: 'center', valing: 'top'})
				div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
					<!-- ID:BG SECTION-1 -->
					table(align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
						tbody
							tr
								td(align="center" style="padding-left: " + body_pading_l_col_3 + "px; padding-right: " + body_pading_r_col_3 + "px;")
									+IE-1({width: body_width_col_3 ,aling: 'center', valing: 'top'})
									div(style="display: inline-block; width: 100%; max-width: " + body_width_col_3 + "px; vertical-align: top;")
										table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + body_width_col_3 + "px;")
											tbody
												tr
													+td-margin({height: '45'})
												tr
													td
														table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
															tr
																td(align="center" style="font-size:0;")
																	+IE-1({col: 2, width_col: table_width_col_3, aling: 'center', valing: 'top'})
																	div(style="display: inline-block; width: 100%; max-width: " + td_3_col_width_div + "px; vertical-align: top;")
																		<!-- TABLE LEFT -->
																		table(align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																			tr
																				td(align="center" style="padding: 15px 10px;")
																					table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:auto !important; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																						tbody
																							tr
																								td(align="center")
																									+title-vertical({title: '100% money back <br>guarantee', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit fringilla egestas '})
																	+IE-1({col_td: 2, width_col: table_width_col_3, aling: 'center', valing: 'top'})
																	div(style="display: inline-block; width: 100%; max-width: " + td_3_col_width_div + "px; vertical-align: top;")
																		<!-- TABLE LEFT -->
																		table(align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																			tr
																				td(align="center" style="padding: 15px 10px;")
																					table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:auto !important; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																						tbody
																							tr
																								td(align="center")
																									+title-vertical({title: 'Free shipping <br>on order over $100', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit fringilla egestas '})
																	+IE-1({col_td: 2, width_col: table_width_col_3, aling: 'center', valing: 'top'})
																	div(style="display: inline-block; width: 100%; max-width: " + td_3_col_width_div + "px; vertical-align: top;")
																		<!-- TABLE LEFT -->
																		table(align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																			tr
																				td(align="center" style="padding: 15px 10px;")
																					table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:auto !important; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																						tbody
																							tr
																								td(align="center")
																									+title-vertical({title: 'Online support <br>24/7', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit fringilla egestas '})
																	|!{IE_TABLE_END}
												tr
													+td-margin({height: '45'})
									|!{IE_TABLE_END}
				|!{IE_TABLE_END}
<!-- TITLE-VERTICAL COL-3 ENDS -->