- var image_path = 'images/';

//- - var image_path = 'http://fourdinos.com/demo/lite2019/images/';

//- - var image_path = 'https://raifmail2.indep.pro/images/';

- var body_pading_l = '17';
- var body_pading_r = '17';

- var body_pading_l_col_3 = '5';
- var body_pading_r_col_3 = '5';

- var body_pading_l_col_2 = '0';
- var body_pading_r_col_2 = '0';

- var body_pading = '5%';
- var body_pading_img_2 = '4.2857%';
- var body_pading_col_2 = '2.5714%';
- var body_pading_col_3 = '1.7857%';
- var body_pading_col_4 = '2.8571%';


- var body_width = '700';

- var table_width = '700';
- var table_width_col_3 = '225';
- var table_width_col_3_1 = '214';
- var table_width_col_3_2 = '183';




- var body_width_1 = '630';
- var body_width_2 = '580';
- var body_width_3 = '500';
- var body_width_bg_left = '615';
- var body_width_col_2 = '672';
- var body_width_col_3 = '675';
- var body_width_col_3_1 = '645';
- var body_width_col_3_2 = '555';



- var td_2_col_width = '332';
- var td_2_pd_width = '4.8192%';

- var td_2_col_width_320 = '320';

- var td_3_col_width = '225';
- var td_3_col_width_div = '221';
- var td_3_col_width_div_1 = '213';
- var td_3_col_width_div_2 = '183';


- var td_3_pd_width = '4.4926%';
- var td_4_pd_width = '9.1463%';

- var IE_TABLE_START = '<!--[if (gte mso 9)|(IE)]><table width="'+body_width+'" align="center" border="0" cellspacing="0" cellpadding="0"><tr><td align="left" valign="top"><![endif]-->';

//-  вызов |!{IE_TABLE_START}

- var IE_TABLE_START_2_COL = '<!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="'+td_2_col_width+'" align="right" valign="top"><![endif]-->';

- var IE_TABLE_START_3_COL = '<!--[if (gte mso 9)|(IE)]><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="'+td_3_col_width+'" align="center" valign="top"><![endif]-->';

- var IE_TABLE_END = '<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->';

- var IE_TD_START_2_COL = '<!--[if (gte mso 9)|(IE)]></td><td  align="left" valign="middle" width="'+td_2_col_width+'"><![endif]-->';

- var IE_TD_START_3_COL = '<!--[if (gte mso 9)|(IE)]></td><td  align="left" valign="top" width="'+td_3_col_width+'"><![endif]-->';

include margin/margin.pug
include td-margin/td-margin.pug
include td-width/td-width.pug
include IE/IE.pug
include title-vertical/title-vertical.pug
include table-wraper/table-wraper.pug
include block-gorizontal/block-gorizontal.pug
include block-gorizontal/block-gorizontal-1.pug
include block-vertical/block-vertical.pug
include block-vertical/block-vertical-2.pug
include contact-vertical/contact-vertical.pug
include advantage/advantage-gorizontal.pug
include advantage/advantage-vertical.pug
include picture-title/picture-title.pug
include icon-text/icon-text.pug

//- IE_TD_START
//-   <div>1</div>
//- IE_TABLE_END

//- IE_TD_START_2_COL
//-   <div>1</div>
//- IE_TD_START_2_COL
//-   <div>2</div>
//- IE_TABLE_END

//- IE_TD_START_3_COL
//-   <div>1</div>
//- IE_TD_START_3_COL
//-   <div>2</div>
//- IE_TD_START_3_COL
//-   <div>2</div>
//- IE_TABLE_END

//- div.news-vertical
//-   div.news-vertical-item
//-   div.news-vertical-item

//- div.news-gorizontal

//- div.news-gorizontal

//- div.features-list
//-   div.feature
//-   div.feature
//-   div.feature

//-   div.call-to-action-1
//- div.call-to-action-2
//- div.call-to-action-3

//- 4 col - 205 (padding: 10px)
//- 6 col - 298 (padding: 17px)